@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    background-image: url('../images/textura-piedra2.png'); /* Cambia 'ruta-de-tu-imagen.jpg' por la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed;
    color: white;
}
.header{
    text-align: center;
    color: black;

}
.header h1{
    font-family: 'Sacramento';
    font-size: 150px;
    background: white;
    padding: 60px;
    margin: 0;
}
.header h2{
    font-family: 'Sacramento';
    font-size: 65px !important;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    color: black;
}

.header-link{
    font-family: 'Sacramento';
    font-size: 30px !important;
    text-align: center;
    color: black;
    padding-top: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px 15px 100px;
}
.column{
    flex: 25%;
    max-width: 25%;
}
.img-hover-zoom{
    height: auto;
    overflow: hidden;
    border: 5px solid #ffff;
    margin: 30px 0;
}
.img-hover-zoom img{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition:  transform .5s ease;
}
.img-hover-zoom:hover img{
    transform: scale(1.5);
}

@media screen and (max-width: 800px) {
    .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .column{
        flex: 100%;
        max-width: 100%;
    }
}

.custom-font-size {
    font-size: 1.2rem;
}

.customDetails-font-size {
    font-size: 1.5rem;
}

.button_style_glass_login{
    background:linear-gradient(-30deg, #1ec4e9 0%,#673ab7 50%,#262626 50%, #607d8b 100%);
    text-decoration: none;
    color: #000000;
    font-size: 2em;
    position: relative;
    letter-spacing: 2px;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
    font-family: sans-serif;
    margin-bottom: 1rem;

}
.button_style_glass{
    background:linear-gradient(-30deg, #1ec4e9 0%,#673ab7 50%,#262626 50%, #607d8b 100%);
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    position: relative;
    letter-spacing: 4px;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    font-family: sans-serif;
    margin-bottom: 1rem;
}

footer hr {
    border: 0;
    border-top: 3px solid #ccc;
    margin: 20px 0;
    background:linear-gradient(-30deg, #1ec4e9 0%,#673ab7 50%,#262626 50%, #607d8b 100%);
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 10px 5px rgba(0, 0, 0, .2);
}
@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    20% { transform: translate(-2px, -2px) rotate(-2deg); }
    40% { transform: translate(2px, 2px) rotate(2deg); }
    60% { transform: translate(-2px, -2px) rotate(-2deg); }
    80% { transform: translate(2px, 2px) rotate(2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.shake {
    animation: shake 0.3s linear infinite;
}
.card-with-link {
    cursor: pointer;
}

.main-content {
    min-height: calc(100vh - 200px); /* Ajusta este valor según sea necesario */
    margin-bottom: 30px; /* Ajusta el margen inferior según sea necesario */
}

.hidden {
    display: none;
}
